.sprite0{
    height: 241px;
    width: 193px;
    background: url(sprites.jpg) -1px -0px no-repeat;
}
.sprite1{
    height: 243px;
    width: 197px;
    background: url(sprites.jpg) -572px -2px no-repeat;
}
.sprite2{
    height: 247px;
    width: 191px;
    background: url(sprites.jpg) -191px -477px no-repeat;
}
.sprite3{
    height: 239px;
    width: 195px;
    background: url(sprites.jpg) -679px -721px no-repeat;
}